.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
inst/noBuild
vignettes/*.log
vignettes/*.toc
vignettes/*-concordance.tex
vignettes/*.synctex.gz
vignettes/*.bbl
vignettes/*.pdf
vignettes/figures
vignettes/tables
vignettes/data
vignettes/*.docx
vignettes/*.sum
.Rdata
.httr-oauth
.DS_Store
